<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>

    <!-- Ditch all the Global NuGet package sources we only want a
         single private NuGet repo for this project -->
    <clear />

    <!-- Add the private NuGet package source for this solution -->
    <add key="Subsystems Feed" value="..\Subsystems\UnityPackage\"/>
  </packageSources>

  <disabledPackageSources>

    <!-- Add any package sources to ignore here using the same keys as
         defined in the packageSources list above-->

  <add key="nuget.org" value="true" />
	<add key="Microsoft and .NET" value="true" />

  </disabledPackageSources>

</configuration>